# Google Tag Manager
# Get your container ID from https://tagmanager.google.com
PUBLIC_GTM_ID=GTM-XXXXXXX

# Unsplash API
# Get a free key at https://unsplash.com/developers (50 req/hr on free plan)
UNSPLASH_ACCESS_KEY=your_access_key_here

