@import "tailwindcss";

@theme {
    --font-sans: "Google Sans Flex", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: oklch(60% .19 25);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
    :root {
        --color-slate-50: oklch(98.5% .0015 255);
        --color-slate-100: oklch(97% .0025 255);
        --color-slate-200: oklch(93% .0045 255);
        --color-slate-300: oklch(87% .007 255);
        --color-slate-400: oklch(74% .01 255);
        --color-slate-500: oklch(60% .012 255);
        --color-slate-600: oklch(50% .013 255);
        --color-slate-700: oklch(41% .012 255);
        --color-slate-800: oklch(32% .011 255);
        --color-slate-900: oklch(24% .0095 255);
        --color-slate-950: oklch(21% .009 255);
        --radius: .625rem;
        --background: var(--color-slate-50);
        --foreground: var(--color-slate-950);
        --card: white;
        --card-foreground: var(--color-slate-950);
        --popover: var(--color-slate-50);
        --popover-foreground: var(--color-slate-950);
        --primary: oklch(50% .22 264);
        --primary-foreground: oklch(98% .01 264);
        --secondary: oklch(96.7% .001 286.375);
        --secondary-foreground: oklch(21% .006 285.885);
        --muted: var(--color-slate-100);
        --muted-foreground: var(--color-slate-500);
        --accent: var(--color-slate-100);
        --accent-foreground: var(--color-slate-900);
        --destructive: oklch(60% .19 25);
        --border: var(--color-slate-300);
        --input: var(--color-slate-300);
        --ring: var(--color-slate-400);
    }

    .dark {
        --background: var(--color-slate-950);
        --foreground: var(--color-slate-50);
        --card: var(--color-slate-900);
        --card-foreground: var(--color-slate-50);
        --popover: var(--color-slate-950);
        --popover-foreground: var(--color-slate-50);
        --primary: oklch(65% .2 264);
        --primary-foreground: oklch(98% .01 264);
        --secondary: oklch(27.4% .006 286.033);
        --secondary-foreground: oklch(98.5% 0 0);
        --muted: var(--color-slate-900);
        --muted-foreground: var(--color-slate-400);
        --accent: var(--color-slate-900);
        --accent-foreground: var(--color-slate-50);
        --destructive: oklch(70% .16 23);
        --border: var(--color-slate-800);
        --input: var(--color-slate-800);
        --ring: var(--color-slate-600);
    }
}

@layer components {
    .prose .embed-wrapper {
        max-width: 100%;
        margin-top: 1.25em;
        margin-bottom: 1.25em;
    }

    .prose .embed-wrapper iframe {
        max-width: 100% !important;
    }

    .embed-card,
    .embed-wrapper {
        justify-content: center;
        width: 100%;
        display: flex;
        overflow-x: hidden;
    }

    .embed-wrapper>div {
        width: 100%;
    }

    .embed-loading {
        display: none;
    }
}